<!--
	
	/* Opened lists */
	BODY#ext-tscobj-wiz1-index-php LI.open UL {
		display: block;
	}
	
	/* Closed lists */
	BODY#ext-tscobj-wiz1-index-php LI.closed UL {
		display: none;
	}
	
	BODY#ext-tscobj-wiz1-index-php UL {
		list-style: none;
		border: solid 1px #666666;
		background-color: ###COLOR1###;
	}
	
	BODY#ext-tscobj-wiz1-index-php UL LI {
		margin: 2px;
	}
	
	BODY#ext-tscobj-wiz1-index-php LI DIV.container {
		padding: 5px;
		border: dashed 1px #666666;
		background-color: ###COLOR2###;
	}
	BODY#ext-tscobj-wiz1-index-php LI DIV.object {
		padding: 5px;
		border: dashed 1px #666666;
		background-color: ###COLOR3###;
	}
//-->
